* {
  outline-color: var(--accent-color);
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}
a,
a:visited {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: var(--accent-color);
}
a:hover,
a:focus {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.85;
}
blockquote {
  background-color: var(--bg-quotes);
  border-left: 5px solid var(--accent-color);
  margin: var(--gap) 10px;
  letter-spacing: -0.02rem;
  padding: 0.5em 1rem 0.5em 1.5rem;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.3;

  p {
    margin: 1em 0;
    line-height: 1.3;
    padding-left: 0.5em;
  }
}
blockquote:before {
  content: open-quote;
  font-size: 8em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
button:not(.theme__btn):not(.nav-btn),
.btn,
.btn:visited {
  margin-top: 1.5rem;
  background-color: var(--bg-btn);
  border: none;
  color: var(--color-btn);
  align-items: center;
  align-self: start;
  border-radius: calc(var(--radius) * 2);
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  line-height: 1.1;
  min-height: 44px;
  min-width: 10rem;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
button:not(.theme__btn):not(.nav-btn):hover,
button:not(.theme__btn):not(.nav-btn):focus,
.btn:focus,
.btn:hover {
  opacity: 0.85;
}
pre {
  padding: 1.5rem;
  margin: 1.25rem 0;
  overflow-x: auto;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.screen-reader-text:focus {
  position:static;
  width: auto;
  height: auto;
}