/*
 * dark mode
 * * *******/
:root[data-theme="light"] .light--hidden {
  display: none;
}
:root[data-theme="dark"] .dark--hidden {
  display: none;
}
.theme__btn {
  margin: 0;
  margin-right: var(--gap);
  padding: 0;
  cursor: pointer;
  appearance: none;
  background: transparent;
  border: 0;
}
.theme__btn svg {
  width: 30px;
  height: 30px;
  fill: none;
  stroke: var(--accent-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}
.theme__btn:hover svg,
.theme__btn:focus svg,
.theme__btn:focus {
  outline: none;
  stroke: var(--accent-color);
  fill: var(--accent-color);
}

/*
  * header
  * * *******/
.site-header {
  background-color: var(--bg-color-header);
  color: var(--color-header);
  padding: calc(var(--gap) / 2) var(--gap);

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: var(--gap);
    max-width: var(--header-width);
  }

  .site-title {
    margin: 0;
    padding: 0;

    a {
      color: var(--color-header);
      display: block;
      background-image: none;
      line-height: 1.55;
      text-decoration: none;
      font-weight: 900;
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
.subheader {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-subheader);
  background-color: var(--bg-color-subheader);
  mix-blend-mode: luminosity;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  &:hover {
    mix-blend-mode: normal;
  }
  .title-container {
    margin: 0 auto;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0.5rem;
    color: var(--color-subheader);
  }
  .post-title + time {
    display: block;
    margin-top: 1rem;
  }
}
/*
* nav menu
* * *******/
.nav-btn {
  height: 36px;
  width: 36px;
  border: 0;
  cursor: pointer;

  svg {
    stroke: var(--accent-color);
  }
}
.site-nav {
  padding: 0 1rem;
  display: flex;
  font-size: 0.9rem;

  .site-menu {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    li + li {
      margin-left: 2rem;
    }
    a {
      border: 0;
      text-decoration: none;
      color: var(--color-header);
      text-transform: uppercase;
      font-weight: 900;
      &[aria-current="page"], &:focus, &:hover {
        color: var(--accent-color);
      }
    }
  }
}

/*
   * main content
   * * *******/
.subtext {
  margin-bottom: var(--gap);
}
.site-main {
  background-color: var(--bg-color);
  color: var(--color);
}
.content {
  min-height: 30vh;
  max-width: var(--main-width);
  margin: auto;
  padding: calc(var(--gap) / 2);
}

/*
   * lists
   * * *******/
.post-date {
  opacity: 0.75;
}
.home {
  .post-item {
    &:first-child {
      border-top: 2px dashed var(--color);
    }
  }
}
.post-item {
  margin: 0;
  padding-top: var(--gap);
  border-bottom: 2px dashed var(--color);

  .post-link {
    margin-top: 0;
  }

  .post-date {
    margin-top: 1rem;
    display: block;
  }
}

/*
   * footer
   * * *******/
.site-footer {
  opacity: 0.85;
  margin-top: var(--gap);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-footer);
  background-color: var(--bg-color-footer);
  text-align: center;
  padding: calc(var(--gap) / 2);

  .copyright {
    margin: 0;
  }
}
/*
   * icons
   * * *******/
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) / 3);
}
.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 36px;
  height: 36px;
}
.icon:hover,
.icon:focus {
  opacity: 0.85;
}
/*
   * media queries
   * * *******/
@media (prefers-reduced-motion: no-preference) {
  body {
    --duration: 0.5s;
    --timing: ease;
    transition: color var(--duration) var(--timing),
      background-color var(--duration) var(--timing);
  }
  a:hover,
  a:focus,
  .icon:hover,
  .icon:focus {
    transition: 0.5s;
  }
  button:not(.theme__btn):hover,
  button:not(.theme__btn):focus,
  .btn:focus,
  .btn:hover {
    transition: all 0.18s ease-in-out;
    transform: translateY(-2px);
  }
  .icon:hover,
  .icon:focus {
    transform: scale(1.3, 1.3);
  }
  .content a:not(.btn) {
    text-decoration: none;
    background-image: linear-gradient(
      to top,
      transparent,
      transparent 0,
      currentColor 0,
      currentColor 1px,
      transparent 1px
    );
    word-wrap: break-word;
  }
  .content a:focus,
  .content a:hover {
    background-image: none;
  }
  .slide {
    opacity: 0;
    animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  }
  .slide-invert {
    opacity: 0;
    animation: fade-slide-up 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  }
  .slide-horizontal {
    opacity: 0;
    animation: fade-slide-left 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  }
  .slide-horizontal-invert {
    opacity: 0;
    animation: fade-slide-right 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  }
  @keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fade-slide-left {
    0% {
      opacity: 0;
      transform: translateX(4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fade-slide-right {
    0% {
      opacity: 0;
      transform: translateX(-4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .hide-mobile {
    display: none;
  }
  .site-header {
    .inner {
      display: block;
    }
    .site-title {
      a {
        display: inline-block;
      }
    }
  }
  .site-nav {
    margin: 0;
    margin-top: var(--gap);
    padding: 0;
    animation: none;
    transform: none;
    position: fixed;
    right: 0;
    top: calc(1px + 2rem);
    padding: calc(var(--gap) / 2);
    width: 70vw;
    max-width: 500px;
    z-index: 101;
    min-height: 75vh;
    border-radius: var(--radius) 0 0 var(--radius);
    background-color: var(--bg-menu-mobile);
    transition: all 0.25s linear;
    display: block;
    opacity: 0;
    text-align: end;
    transform: translateX(100%);
    will-change: opacity, transform;

    li {
      margin: 0;
    }
  }
  .nav-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  #check-menu:checked ~ .site-nav {
    opacity: 1;
    transform: translateX(0);
  }
  .site-nav {
    .site-menu {
      width: 100%;
      flex-direction: column;

      a {
        color: var(--color-menu-mobile);
      }
    }
    .site-menu > li,
    .site-menu > li + li {
      margin: 0.75rem 0;
      width: 100%;
    }
  }
  .theme__btn {
    margin: 0;
  }
  .subheader {
    background-attachment: unset;

    .post-title,
    .post-date {
      text-align: center;
      width: auto;
    }
  }
  .welcome-btn-container {
    text-align: center;
  }
  .site-footer {
    display: block;
  }
  .copyright {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
  .copyright:after {
    margin: 0 calc(var(--gap) / 2);
    content: "•";
  }
}
