:root[data-theme="light"] {
  --bg-color: hsl(30, 37%, 89%);
  --bg-color-header: hsl(30, 37%, 89%);
  --bg-color-subheader: hsl(0, 0%, 19%);
  --bg-color-footer: hsl(220, 7%, 8%);
  --bg-quotes: hsl(30, 69%, 94%);
  --bg-inputs: hsl(30, 69%, 94%);
  --bg-menu-mobile: hsl(0, 0%, 7%);
  --bg-btn: hsl(341, 80%, 42%);
  --color: hsl(0, 0%, 22%);
  --color-header: hsl(0, 0%, 9%);
  --color-menu-mobile: hsl(0, 0%, 98%);
  --color-subheader: hsl(30, 37%, 89%);
  --color-footer: hsl(27, 12%, 71%);
  --color-btn: hsl(240, 82%, 98%);
  --accent-color: hsl(341, 80%, 42%);

  /* Background */
  .chroma {
    color: hsl(70, 8%, 15%);
    background-color: hsl(0, 0%, 98%);
  }
  /* Other */
  .chroma .x {
  }
  /* Error */
  .chroma .err {
    color: hsl(328, 100%, 29%);
    background-color: hsl(328, 100%, 6%);
  }
  /* LineTableTD */
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
  }
  /* LineHighlight */
  .chroma .hl {
    display: block;
    width: 100%;
    background-color: hsl(60, 100%, 90%);
  }
  /* LineNumbersTable */
  .chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: hsl(0, 0%, 50%);
  }
  /* LineNumbers */
  .chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: hsl(0, 0%, 50%);
  }
  /* Keyword */
  .chroma .k {
    color: hsl(190, 100%, 39%);
  }
  /* KeywordConstant */
  .chroma .kc {
    color: hsl(190, 100%, 39%);
  }
  /* KeywordDeclaration */
  .chroma .kd {
    color: hsl(190, 100%, 39%);
  }
  /* KeywordNamespace */
  .chroma .kn {
    color: hsl(338, 95%, 56%);
  }
  /* KeywordPseudo */
  .chroma .kp {
    color: hsl(190, 100%, 39%);
  }
  /* KeywordReserved */
  .chroma .kr {
    color: hsl(190, 100%, 39%);
  }
  /* KeywordType */
  .chroma .kt {
    color: hsl(190, 100%, 39%);
  }
  /* Name */
  .chroma .n {
    color: hsl(0, 0%, 7%);
  }
  /* NameAttribute */
  .chroma .na {
    color: hsl(80, 100%, 34%);
  }
  /* NameBuiltin */
  .chroma .nb {
    color: hsl(0, 0%, 7%);
  }
  /* NameBuiltinPseudo */
  .chroma .bp {
    color: hsl(0, 0%, 7%);
  }
  /* NameClass */
  .chroma .nc {
    color: hsl(80, 100%, 34%);
  }
  /* NameConstant */
  .chroma .no {
    color: hsl(190, 100%, 39%);
  }
  /* NameDecorator */
  .chroma .nd {
    color: hsl(80, 100%, 34%);
  }
  /* NameEntity */
  .chroma .ni {
    color: hsl(0, 0%, 7%);
  }
  /* NameException */
  .chroma .ne {
    color: hsl(80, 100%, 34%);
  }
  /* NameFunction */
  .chroma .nf {
    color: hsl(80, 100%, 34%);
  }
  /* NameFunctionMagic */
  .chroma .fm {
    color: hsl(0, 0%, 7%);
  }
  /* NameLabel */
  .chroma .nl {
    color: hsl(0, 0%, 7%);
  }
  /* NameNamespace */
  .chroma .nn {
    color: hsl(0, 0%, 7%);
  }
  /* NameOther */
  .chroma .nx {
    color: hsl(80, 100%, 34%);
  }
  /* NameProperty */
  .chroma .py {
    color: hsl(0, 0%, 7%);
  }
  /* NameTag */
  .chroma .nt {
    color: hsl(338, 95%, 56%);
  }
  /* NameVariable */
  .chroma .nv {
    color: hsl(0, 0%, 7%);
  }
  /* NameVariableClass */
  .chroma .vc {
    color: hsl(0, 0%, 7%);
  }
  /* NameVariableGlobal */
  .chroma .vg {
    color: hsl(0, 0%, 7%);
  }
  /* NameVariableInstance */
  .chroma .vi {
    color: hsl(0, 0%, 7%);
  }
  /* NameVariableMagic */
  .chroma .vm {
    color: hsl(0, 0%, 7%);
  }
  /* Literal */
  .chroma .l {
    color: hsl(261, 100%, 75%);
  }
  /* LiteralDate */
  .chroma .ld {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralString */
  .chroma .s {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringAffix */
  .chroma .sa {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringBacktick */
  .chroma .sb {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringChar */
  .chroma .sc {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringDelimiter */
  .chroma .dl {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringDoc */
  .chroma .sd {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringDouble */
  .chroma .s2 {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringEscape */
  .chroma .se {
    color: hsl(259, 100%, 64%);
  }
  /* LiteralStringHeredoc */
  .chroma .sh {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringInterpol */
  .chroma .si {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringOther */
  .chroma .sx {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringRegex */
  .chroma .sr {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringSingle */
  .chroma .s1 {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralStringSymbol */
  .chroma .ss {
    color: hsl(36, 100%, 42%);
  }
  /* LiteralNumber */
  .chroma .m {
    color: hsl(261, 100%, 75%);
  }
  /* LiteralNumberBin */
  .chroma .mb {
    color: hsl(261, 100%, 75%);
  }
  /* LiteralNumberFloat */
  .chroma .mf {
    color: hsl(261, 100%, 75%);
  }
  /* LiteralNumberHex */
  .chroma .mh {
    color: hsl(261, 100%, 75%);
  }
  /* LiteralNumberInteger */
  .chroma .mi {
    color: hsl(261, 100%, 75%);
  }
  /* LiteralNumberIntegerLong */
  .chroma .il {
    color: hsl(261, 100%, 75%);
  }
  /* LiteralNumberOct */
  .chroma .mo {
    color: hsl(261, 100%, 75%);
  }
  /* Operator */
  .chroma .o {
    color: hsl(338, 95%, 56%);
  }
  /* OperatorWord */
  .chroma .ow {
    color: hsl(338, 95%, 56%);
  }
  /* Punctuation */
  .chroma .p {
    color: hsl(0, 0%, 7%);
  }
  /* Comment */
  .chroma .c {
    color: hsl(50, 11%, 41%);
  }
  /* CommentHashbang */
  .chroma .ch {
    color: hsl(50, 11%, 41%);
  }
  /* CommentMultiline */
  .chroma .cm {
    color: hsl(50, 11%, 41%);
  }
  /* CommentSingle */
  .chroma .c1 {
    color: hsl(50, 11%, 41%);
  }
  /* CommentSpecial */
  .chroma .cs {
    color: hsl(50, 11%, 41%);
  }
  /* CommentPreproc */
  .chroma .cp {
    color: hsl(50, 11%, 41%);
  }
  /* CommentPreprocFile */
  .chroma .cpf {
    color: hsl(50, 11%, 41%);
  }
  /* Generic */
  .chroma .g {
  }
  /* GenericDeleted */
  .chroma .gd {
  }
  /* GenericEmph */
  .chroma .ge {
    font-style: italic;
  }
  /* GenericError */
  .chroma .gr {
  }
  /* GenericHeading */
  .chroma .gh {
  }
  /* GenericInserted */
  .chroma .gi {
  }
  /* GenericOutput */
  .chroma .go {
  }
  /* GenericPrompt */
  .chroma .gp {
  }
  /* GenericStrong */
  .chroma .gs {
    font-weight: bold;
  }
  /* GenericSubheading */
  .chroma .gu {
  }
  /* GenericTraceback */
  .chroma .gt {
  }
  /* GenericUnderline */
  .chroma .gl {
  }
  /* TextWhitespace */
  .chroma .w {
  }
}
